@use "sass:meta";
@use "sass:string";
@use "./variables.scss" as *;

$namespace: "na" !default;
$element-separator: "__" !default;
$modifier-separator: "--" !default;
$state-prefix: "is-" !default;

@function selectorToString($selector) {
    $selector: meta.inspect($selector);
    $selector: string.slice($selector, 2, -2);
    @return $selector;
  }
  
  @function containsModifier($selector) {
    $selector: selectorToString($selector);
  
    @if string.index($selector, $modifier-separator) {
      @return true;
    } @else {
      @return false;
    }
  }
  
  @function containWhenFlag($selector) {
    $selector: selectorToString($selector);
  
    @if string.index($selector, '.' + $state-prefix) {
      @return true
    } @else {
      @return false
    }
  }
  
  @function containPseudoClass($selector) {
    $selector: selectorToString($selector);
  
    @if string.index($selector, ':') {
      @return true
    } @else {
      @return false
    }
  }
  
  @function hitAllSpecialNestRule($selector) {
  
    @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
  }
