@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@public/icon/iconfont.css");
@import url("@public/source-code-pro-release/source-code-pro.css");
@import "./animation.scss";

:root {
  --base-font-color: #303133;
  --nan-succeed-color: #72e985;
  --nan-error-color: #ce4a4e;
  --nan-text-align: left;
  --nan-padding: 4px 18px 10px 18px;
  --nan-animation-duration: 0.5s;
  --nan-justify-content: flex-start;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.f-Source{
  font-family: "Source Code Pro", Avenir, Helvetica, Arial, sans-serif;

}

